[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
aiohttp = "*"
gunicorn = "==20.1.0"
asyncio = "*"
numpy = "*"
scikit-learn = "*"
torch = "*"
transformers = "*"
flask-cors = "*"
flask-socketio = "*"
requests = "*"
python-socketio = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
